:host {
  outline: medium dotted blue;
  font-size: 1rem;
  --label-bg: purple;
  --label-fg: white;

  display: flex;
  align-items: center;
  gap: 1rem;
}

label {
  color: var(--label-fg);
  background: var(--label-bg);
  padding: 0.125rem 0.25rem;
}

button {
  font-size: 100%;
  font-family: var(--pico-font-monospace);
}